@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: black;
    background-image:
            linear-gradient(rgba(128, 128, 128, 0.2) 1px, transparent 1px),
            linear-gradient(90deg, rgba(128, 128, 128, 0.2) 1px, transparent 1px);
    background-size: 25px 25px;
    background-attachment: fixed;
    color: #f2f2f2;
    font-family: "Inter", sans-serif;
    margin: 0;
    overflow-x: hidden;
  }

  main {
    @apply w-full flex flex-col items-center;
  }

  #app {
    @apply flex h-screen m-0 flex-col justify-between;
  }

  a {
    @apply text-[#f5f5f5] no-underline transition-colors duration-300;
  }

  h1 {
    @apply font-bold text-[2em] mt-[0.6em] mb-[0.2em];
  }

  h2 {
    @apply font-bold text-[1.5em] mt-[0.83em] mb-[0.83em];
  }

  h3 {
    @apply text-[#a5a5a5] font-bold text-[1.17em];
  }

  p {
    @apply text-[#a5a5a5] mb-5 mt-5;
  }

  .circle {
    --circle-size: 40px;
    @apply fixed h-[var(--circle-size)] w-[var(--circle-size)] border-2 border-[#cecece] rounded-full top-[calc(var(--circle-size)/2*-1)] left-[calc(var(--circle-size)/2*-1)] pointer-events-none;
  }
}